* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --main-color: black;
    --main-font: "Helvetic", sans-serif;
}

@font-face {
    font-family: "Helvetica", sans-serif;
    src: url(../asset/font/Helvetica.ttf), format(truetype);
}

body {
    width: 85%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

header .menu .ul {
    display: flex;
    list-style: none;
}

header .menu .ul .li .a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
    font-family: var(--main-font);
    display: block;
    padding: 17px 18px;
    transition: 0.2s all ease-in-out;
}

header .menu .ul .li .a:hover {
    background-color: rgb(238, 238, 238)
}

header .menu .ul .li {
    position: relative;
}

header .menu .ul .li .dropdown {
    position: absolute;
    width: 100vw;
    height: 0;
    background-color: rgb(255, 255, 255);
    top: 100%;
    left: -158px;
    z-index: 99;
    display: flex;
    padding-left: 158px;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.078);
    overflow: hidden;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

header .menu .ul .li .drop2 {
    left: -265px
}

header .menu .ul .li .drop3 {
    left: -330px
}

header .menu .ul .li .drop4 {
    left: -410px
}

header .menu .ul .li .drop5 {
    left: -515px
}

header .menu .ul .li:hover .dropdown {
    height: 520px;
    visibility: visible;
}

header .menu .ul .li:hover .drop2 {
    height: 460px;
}

header .menu .ul .li:hover .drop3 {
    height: 185px;
}

header .menu .ul .li:hover .drop4 {
    height: 215px;
}

header .menu .ul .li:hover .drop5 {
    height: 50px;
}

header .menu .ul .li .dropdown ul {
    width: calc(100%/6);
    display: flex;
    flex-direction: column;
    list-style: none;
}

header .menu .ul .li .dropdown ul li a {
    font-family: var(--main-font);
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    padding-block: 6px;
    display: block;
    text-decoration: none;
}

header .menu .ul .li .dropdown ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

header .menu .ul .li .dropdown ul li:first-child a{
    font-weight: bold;
}

header .logo {
    width: 130px; 
    height: 30px;
}

header .logo .icon-menu {
    display: none;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .auth ul {
    display: flex;
    list-style: none;
}

header .auth ul li {
    display: flex;
    align-items: center;
}

header .auth ul li .searchbox {
    width: 80%;
    position: relative;
    margin: auto;
}

header .auth ul li .search-icon {
    display: none;
}

header .auth ul li .searchbox input {
    width: 100%;
    padding: 10px; 
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

header .auth ul li .searchbox i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

header .auth ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
    font-family: var(--main-font);
    display: block;
    padding: 17px 18px;
    transition: 0.2s all ease-in-out;
}

header .auth ul li a:hover {
    background-color: rgb(238, 238, 238)
}

.info-text {
    background: black;
    color: white;
    font-family: var(--main-font);
    padding-block: 10px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    position: sticky;
    top: 55px;
    z-index: 90;
}

.slideshow {
    height: 85vh;
    position: relative;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow .btn {
    position: absolute;
    left: 50%;
    top: 80%;
    gap: 10px;
    display: flex;
    transform: translateX(-50%);
}

.slideshow .btn button {
    padding: 15px 40px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 19px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.61);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    background: transparent;
}

.slideshow .btn button:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.24);
}

.swiper {
      width: 100%;
      height: 100%;
    }

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    height: 200px;
    width: 220px;
}

.swiper2 .swiper {
    width: 100%;
    height: 100%;
}

.swiper2 .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper2 .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-arr-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}

.new-arr-text p {
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.new-arr-text a {
    font-family: var(--main-font);
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.items-grid .items-card {
    padding: 10px;
}

.items-grid .items-card .items-img img {
    width: 100%;
    height: 80%;
}

.items-grid .items-card .items-info {
    padding-inline: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .price {
        font-family: var(--main-font);
        font-size: 20px;
        font-weight: 700;
    }

    .items-name {
        font-family: var(--main-font);
        font-size: 18px;
        font-weight: 500;
    }
}

.grid-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.boxes-img {
    /* width: 450px;
    height: 580px; */
    padding: 10px;
    margin-top: 15px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.span-flex {
    display: flex;
    gap: 5px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
    
    .col {
        flex: 1;
        min-width: 150px;
    }

    .app-qr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        h2 {
            font-size: 18px;
            font-family: var(--main-font);
            text-transform: uppercase;
        }

        .qr-img {
            width: 90px;
            height: 90px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .loyalty {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        h2 {
            font-size: 18px;
            font-family: var(--main-font);
            text-transform: uppercase;
        }

        .loyalty-text {
            display: flex;
            gap: 3px;

            img {
                width: 16px;
            }

            span {
                font-size: 16px;
                font-family: var(--main-font);
            }
        }
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-left: 35px;

        h2 {
            font-size: 18px;
            font-family: var(--main-font);
            text-transform: uppercase;
        }

        .sm-acc {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            gap: 6px;

            .acc {
                display: flex;
                gap: 7px;
                align-items: center;

                i {
                    font-size: 16px;
                }

                span {
                    text-transform: capitalize;
                    font-size: 17px;
                    font-family: var(--main-font);
                    letter-spacing: 2.5;
                }
            }
        }

    }

    .customer-service {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        h2 {
            font-size: 18px;
            font-family: var(--main-font);
            text-transform: uppercase;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            gap: 6px;

            .cs {
                display: flex;
                gap: 7px;
                align-items: center;

                i {
                    font-size: 16px;
                }

                span {
                    text-transform: capitalize;
                    font-size: 17px;
                    font-family: var(--main-font);
                    letter-spacing: 2.5;
                }
            }
        }

    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        h2 {
            font-size: 18px;
            font-family: var(--main-font);
            text-transform: uppercase;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            gap: 6px;

            .cont {
                display: flex;
                gap: 7px;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #1a1a1a;
                    font-size: 17px;
                    font-family: var(--main-font);
                    letter-spacing: 2.5;
                }

                i {
                    font-size: 16px;
                }
            }
        }

    }

    .payment-accept {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        margin-top: 40px;
        
        h2 {
            font-size: 18px;
            font-family: var(--main-font);
            text-transform: uppercase;
        }
        
        .payment-img {
            width: 300px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    hr {
        border: 1px solid rgb(176, 173, 173);
        width: 100%;
    }

    .copyright {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 32px;
        
        span {
            font-size: 14px;
            color: gray;
            font-family: var(--main-font);
        }
    }
}

@media screen and (max-width: 1300px) {
    body {
        width: 100%;
    }
    header {
        padding-block: 10px;
        padding-inline: 5px;
        .menu {
            display: none;
        }
        .logo {
            gap: 30px;
            display: flex;
            align-items: center;
            .icon-menu {
                display: block;
                font-size: 30px;
            }
        }
        .auth {
            ul {
                li {
                    .search-icon {
                        display: none;
                    }
                }
            }
        }
    }

    .slideshow {
        height: 70vh;
    }
}
    
@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    header {
        padding-block: 10px;
        padding-inline: 5px;
        .menu {
            display: none;
        }
        .logo {
            gap: 10px; 
            display: flex;
            align-items: center;
            .icon-menu {
                display: block;
                font-size: 30px;
            }
        }

        .auth {
            ul {
                li {
                    .search-icon {
                        display: block;
                    }
                    .searchbox {
                        display: none;
                    }
                    a {
                        padding-inline: 12px;
                    }
                }
            }
        }
    }

    .slideshow {
        height: 35vh;
        .btn {
            button {
                font-size: 12px;
                padding: 7px 13px;
            }
        }
    }
}

